<div class="container">
  <div class="starter-template">
    <h2 id = "head" class="text-center">
      Movie Review for {{name}}
    </h2>
    <br>
    
    <p>Rated {{rating}} by {{users}} users!</p><br>
    <p>Running time : {{length}}</p><br>
    <p>Release year : {{rel}}</p><br>
    
    <p class="text-left" name="rating">Movie description : {{des}} </p><br>
    <div class="float-left">
      <label for="rating">What's your rating?</label>
        <span class="fa fa-star checked" id="rating"></span>
        <span class="fa fa-star checked" id="rating"></span>
        <span class="fa fa-star checked" id="rating"></span>
        <span class="fa fa-star" id="rating"></span>
        <span class="fa fa-star" id="rating"></span>
    </div> 
  </div>
</div>