/**
 * CSS for <button>
 */
button {
	color: white;
	outline-color: white;
	size: 100%;
  align-items: left;
}

/**
 * CSS for <input>
 */
input {
	width: 100%;
	height: 200px;
	padding:0 3px 150px;
}

/**
 * CSS for <fieldset> and <label>
 */
fieldset, label  {
  margin: 0;
  padding: 0;
}

/**
 * CSS for the body
 */
body {
  margin: 20px;
}

/**
 * CSS for Ratings
 */
.rating { 
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }