<nav class="navbar navbar-light toggleable-md navbar-inverse fixed-top clearfix" style="background-color: darkblue;z-index:50;">

    <div class="navbar navbar-default" id="primary-nav" style="width:90%">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-film" aria-hidden="true"> </i> MOVIE RECOMMENDATION SYSTEM <i class="fa fa-film" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <md-icon>account_box</md-icon>
            <span>Sign Up</span>
        </button>
        <button md-menu-item>
            <md-icon>account_circle</md-icon>
            <span>Log In</span>
        </button>
    </md-menu>
    </div>
<div class="navbar navbar-default" id="secondary-nav" style="z-index:30;">
  <div class="container-fluid">
    <ul class="nav">
        <li><input class="form-control" type="text" placeholder="Search"></li>
        <li><button class="btn btn-primary" color="primary" type="submit">GO!</button></li>

    </ul>

  </div>
  </div>

</nav>
