<nav class="navbar navbar-light toggleable-md navbar-inverse fixed-top clearfix" style="background-color: darkblue;z-index:50;">
<div class="navbar navbar-default" id="primary-nav">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" id="titleBtn"><i class="fa fa-film" aria-hidden="true"> </i> MOVIE RECOMMENDATION SYSTEM <i class="fa fa-film" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="navbar navbar-default" id="secondary-nav" style="z-index:30;">
  <div class="container-fluid">
    <ul class="nav">
        <li><input class="form-control" type="text" placeholder="Search"></li>
        <li><button class="btn btn-primary" color="primary" type="submit">GO!</button></li>
        <li><button md-icon-button [mdMenuTriggerFor]="menu" id="menuBtn">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            

            <a style="font-size: 100%; text-decoration: none;" routerLink="/signup" routerLinkActive="active"><button md-menu-item id="signupBtn">
                <md-icon>account_box</md-icon>
                <span>Sign Up</span>
            </button> </a>
            <a style="font-size: 100%; text-decoration: none;" routerLink="/login" routerLinkActive="active"> <button md-menu-item id="loginBtn">
                <md-icon>account_circle</md-icon>
                <span>Log In</span>
            </button>
            </a>
                
        </md-menu>
        
        </li>
    </ul>
  </div>
</div>
</nav>

