a {
	text-align: center;
	font-size: 300%;
}

.menu {
	float: right;
}

form {
	display: inline-block;
	text-align: center;
}

button {
	color: white;
	outline-color: white;
}

i {
	color: white;
}

form {
	margin: 0 auto;
}

container-fluid {
    overflow:visible;
}

span {
	color: darkblue;
}