<nav class="navbar navbar-light toggleable-mat navbar-inverse fixed-top clearfix" style="background-color: darkblue;z-index:50;">
<div class="navbar navbar-default" id="primary-nav">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" id="titleBtn"><i class="fa fa-film" aria-hidden="true"> </i> MOVIE RECOMMENDATION SYSTEM <i class="fa fa-film" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="navbar navbar-default" id="secondary-nav" style="z-index:30;">
  <div class="container-fluid">
    <ul class="nav">
        <li><input #searchTerm class="form-control" type="text" placeholder="Search"></li>
        <li><button class="btn btn-primary" (click)="onSubmit(searchTerm.value)" color="primary" type="submit">GO!</button></li>
        <li><button mat-icon-button [matMenuTriggerFor]="menu" id="menuBtn">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">


            <a style="font-size: 100%; text-decoration: none;" routerLink="/signup" routerLinkActive="active"><button *ngIf="!isUserLoggedIn()" mat-menu-item id="signupBtn">
                <mat-icon>account_box</mat-icon>
                <span>Sign Up</span>
            </button> </a>
            <a style="font-size: 100%; text-decoration: none;" routerLink="/login" routerLinkActive="active"> <button mat-menu-item id="loginBtn">
                <mat-icon>account_circle</mat-icon>
                <span>Log In</span>
            </button>
            </a>

        </mat-menu>

        </li>
    </ul>
  </div>
</div>
</nav>

