<div class="container">
	<div class="starter-template">
		<h2>
			TOP RATED MOVIES
		</h2>
		<br>
		<div class="card">
		    <div class="card-block">
		        <p class="card-text">
		        	<a id = "movie1" routerLink="/reviews" routerLinkActive="active">{{m1}}</a><br>
		        	<a routerLink="/reviews" routerLinkActive="active">{{m2}}</a><br>
			       	<a routerLink="/reviews" routerLinkActive="active">{{m3}}</a><br>
			       	<a routerLink="/reviews" routerLinkActive="active">{{m4}}</a><br>
			       	<a routerLink="/reviews" routerLinkActive="active">{{m5}}</a>
			    </p>
			</div>
		</div>
	</div>
</div>