<app-nav></app-nav>
<body>
	<div class="container">
		<div class="starter-template">
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-block">
			        <h4 class="card-title">TOP RATED MOVIES</h4>
			        <p class="card-text">
			        	Baby Driver<br>
			        	Wonder Woman<br>
			        	Logan
			        </p>
			        <a href="#" class="btn btn-primary">See More</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-block">
			        <h4 class="card-title">RECOMMENDED MOVIES</h4>
			        <p class="card-text">
			        	Harry Potter II<br>
			        	Star Wars<br>
			        	Dunkirk
			        </p>
			        <a href="#" class="btn btn-primary">See More</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
