<!--
 File name : home.component.html
 @author : Raji Sundararajan
 -->

<div class="container">
	<div class="starter-template">
	    <div class="card">
			<div class="card-block">
			    <h4 class="card-title">TOP RATED MOVIES</h4>
			    <p class="card-text">
			     	<a id = "movie1" routerLink="/reviews/{{m1}}" routerLinkActive="active">{{m1}}</a><br>
			      	<a routerLink="/reviews/{{m2}}" routerLinkActive="active">{{m2}}</a><br>
			       	<a routerLink="/reviews/{{m3}}" routerLinkActive="active">{{m3}}</a>
			    </p>
			    <a class="btn btn-primary" routerLink="/trm" routerLinkActive="active">See More</a>
			</div>
		</div>
	</div>
</div>